---
import PageLayout from '../layouts/PageLayout.astro'
---


<PageLayout title="Apps">
    <div class="flex justify-center items-center">
         <h1 class="coming-soon py-4 px-8 text-5xl underline mt-32">Under Construction</h1>
     </div>
</PageLayout>

