---
import PageLayout from '../layouts/PageLayout.astro'
---


<PageLayout title="Games">

    <h1 class="text-center text-4xl p-4">Games</h1>


    <div id="game-container" class="container mx-auto">
        <div class="grid">
            <div><a href="https://capt-magni.itch.io/bouncin">Bouncin</a></div>
            <div><a href="https://capt-magni.itch.io/strike-mode">Strike Mode</a></div>
            <div><a href="https://capt-magni.itch.io/rusting-steiners">Rusting Steiners</a></div>
            <div><a href="https://store.steampowered.com/app/3083290/The_Curse_of_Karlanrik/">Curse of Karlanrik</a></div>
        </div>
    </div>


</PageLayout>


<style>
    #game-container {
        font-family: 'Troglo', sans-serif;
        font-size: 32px;
    }
</style>
