---
import PageLayout from '../layouts/PageLayout.astro'
---

<PageLayout title="Under Construction">
	<div class="flex justify-center items-center">
		<h1 class="py-4 px-8 text-5xl mt-32 emotion tracking-widest">Under Construction</h1>
	</div>
</PageLayout>
