---
import PageLayout from '../layouts/PageLayout.astro'
---


<PageLayout title="Resume">
    <div class="flex justify-center items-center">
        <h1 class="emotion tracking-widest py-4 px-8 text-5xl mt-32">Under Construction</h1>
    </div>
</PageLayout>

