
---

---

<div id="nav" class="w-full flex item-center justify-center m-2 text-center emotion" style="width: 100%">

    <div><a href="/">Home</a></div>
    <div><a href="/resume">Resume</a></div>
    <div><a href="/apps">Apps</a></div>
    <div><a href="/games">Games</a></div>

</div>

<style>
    #nav div {
        padding: 10px;;
    }

</style>
