/* Register your custom font family and tell the browser where to find it. */
@font-face {
    font-family: 'Troglo';
    src: url('../../public/fonts/TROGLO__.ttf') format('ttf'),
        url('../../public/fonts/Troglodyte.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FerriteCore';
    src: url('/fonts/FerriteCoreDX-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'EmotionEngine';
    src: url('/fonts/EmotionEngine-8ynA.ttf') format('truetype');
  }

.coming-soon {
    font-family: 'Oranienbaum', serif;
}

.ferrite {
    font-family: 'FerriteCore';
}
  
.emotion {
    font-family: 'EmotionEngine';
}